$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-buscar: "\e934";
$icon-acciones: "\e900";
$icon-actualizar: "\e904";
$icon-afecta_conexion: "\e905";
$icon-afectacion: "\e906";
$icon-afectado_tercero: "\e907";
$icon-area_responsable: "\e908";
$icon-arrow_afectacion: "\e909";
$icon-arrow_general: "\e90a";
$icon-arrow_left: "\e90b";
$icon-arrow-down: "\e90c";
$icon-auditoria: "\e90d";
$icon-calendario: "\e90e";
$icon-cancelar: "\e90f";
$icon-cargar_plantilla: "\e910";
$icon-check: "\e911";
$icon-comentarios: "\e913";
$icon-comunicacion: "\e914";
$icon-critico: "\e915";
$icon-emergencia: "\e916";
$icon-exportar: "\e917";
$icon-falla_suministros: "\e918";
$icon-falta_agua: "\e919";
$icon-falta_presion: "\e91a";
$icon-favorito: "\e91b";
$icon-fecha_cambio: "\e91c";
$icon-filtro: "\e91d";
$icon-grandes_usuarios: "\e91e";
$icon-imprimir: "\e91f";
$icon-informacion_adicional: "\e920";
$icon-mapa: "\e921";
$icon-notificaciones: "\e922";
$icon-nro_corte: "\e923";
$icon-nuevo: "\e924";
$icon-odt: "\e925";
$icon-orden: "\e926";
$icon-orden_grilla: "\e927";
$icon-ordenar_grilla: "\e928";
$icon-programado: "\e929";
$icon-servicio_agua: "\e92c";
$icon-taponamiento_desborde: "\e92d";
$icon-taponamiento_desborde_lluvia: "\e92e";
$icon-taponamiento_sin_desborde: "\e92f";
$icon-taponamiento_sin_desborde_calle: "\e930";
$icon-tipo_afectacion: "\e931";
$icon-trabajo_realizar: "\e932";
$icon-turbiedad: "\e933";
$icon-usuario: "\e936";
$icon-mas_horas: "\e937";
$icon-plazo_no_cumplido: "\e938";
$icon-eliminar: "\e939";
$icon-editar: "\e93a";
$icon-gestion_monitoreo: "\e93b";
$icon-usuarios_sensibles: "\e93c";
$icon-reportes: "\e93e";
$icon-seguridad: "\e93f";
$icon-configuracion: "\e940";
$icon-informacion_sistema: "\e941";
$icon-favorito_activado: "\e942";
$icon-salir: "\e943";
$icon-ayuda: "\e944";
$icon-bitacora: "\e945";
$icon-calles: "\e946";
$icon-capas: "\e947";
$icon-cortes_superpuestos: "\e948";
$icon-distrito: "\e949";
$icon-edificios: "\e94a";
$icon-error: "\e94b";
$icon-exito: "\e94c";
$icon-gestion: "\e94d";
$icon-map_base: "\e94e";
$icon-parametros: "\e94f";
$icon-perfil: "\e950";
$icon-region: "\e951";
$icon-guardar: "\e952";
$icon-tiempo: "\e953";
$icon-monitoreo: "\e954";
$icon-capas_region: "\e955";
$icon-area_servida: "\e956";
$icon-arco_calle: "\e957";
$icon-decorados: "\e958";
$icon-listado_calles: "\e959";